body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parent {
  width: 85%;
  overflow: hidden;
  margin: auto;
  padding: 1rem;
  }
  .slider-container {
   /* if you want to have a scrollbar, you can add overflow here */ 
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 2rem;
  padding: 3px;
   scroll-behavior: smooth;
  }
  .slider-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  }
  .btn {
  position: absolute;
  box-shadow: 0 0 6.1px 0.9px grey;
  padding: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: grey;
  text-align: center;
  color: white;
  border-radius: 50%;
  }
  .prev {
  left: 1rem;
  }
  .next {
  right: 1rem;
  }
  .disable {
  opacity: 0.5;
   pointer-events: none;
  }
  .child {
  padding: 5px 20px;
  background: #59eb97;
  text-align: center;
  width: 100%;
  margin-right: 10px;
  border-radius: 21px;
  }
  :global {
    @import 'node_modules/slick-carousel/slick/slick';
}